title = "Calendar"
url = "/calendar"
layout = "default"
is_hidden = 0
==
<?php
use MegaEvent\Event\Models\Event;
use Carbon\Carbon;

function onStart() {

    $events = Event::all();

    $event_arrays = [];

    foreach($events as $event){
        $event_id = $event->id;
        $old = strtotime($event->from_date);
        $from_date = date('Y-m-d H:i:s', $old);
        $old_to = strtotime($event->to_date);
        $to_date = date('Y-m-d H:i:s', $old_to);
        $title = $event->name;

        $arr = [
            'groupId' => $event_id,
            'title'   => $title,
            'start'   => $from_date,
            'end'     => $to_date,
            'url'     => '/deliverysystem/event-detail/'.$event_id
        ];

        $event_arrays[] = $arr;

    }
    
    $json = json_encode($event_arrays);

    echo"<script language='javascript'>
        var jso = JSON.stringify($json);
        localStorage.setItem('data',jso);
    </script>
    ";
     
}
?>
==

<div class="container" id="calendar"></div>


<!-- <link  href="{{ 'assets/css/main.css'|theme }}" rel='stylesheet'/>
<script src="{{ 'assets/javascript/main.js'|theme }}"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
{% put scripts %}
<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        var data = localStorage.getItem('data');
        data = JSON.parse(data);
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
            left: 'prevYear,prev,next,nextYear today',
            center: 'title',
            right: 'dayGridMonth,dayGridWeek,dayGridDay'
        },
        initialDate: '2020-09-12',
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: data,

        eventClick: function(info) {
            info.jsEvent.preventDefault(); // don't let the browser navigate

            if (info.event.url) {
            window.open(info.event.url);
            }
        }

        });
        calendar.render();
    });
    
</script>
{% endput %}