title = "Event Detail"
url = "/event-detail/:slug"
is_hidden = 0
==
<?php
use MegaEvent\Event\Models\Event;
use Carbon\Carbon;
function onStart()
{
    $this['event'] = Event::where('id', $this->param('slug'))->first();

}
?>
==
<h2>Event Name is &nbsp;<span style="color: red;">{{ event.name }}</span></h2>
<h2>Tag Name is &nbsp;<span style="color: red;">{{ event.tag.name }}</span></h2>
<h2>Venue Name is &nbsp;<span style="color: red;">{{ event.venu.name }}</span></h2>
<h2>Category Name is &nbsp;<span style="color: red;">{{ event.category.name }}</span></h2>

<h2>Organization Name is &nbsp; {% for organizer in event.organizer %}<span style="color: red;">{{ organizer.name }}</span>, {% endfor %}</h2>



 